@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio de Lupita!!!</h1>
    <p>Aprende acerda de: <a href="https://platzi.com/cursos/web-apps/">GitHub e Integración continua</a>.</p>
</div>
